table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
body {font-family: Arial, sans-serif;font-size: 12px;}
h2, form {margin-bottom: 10px;}
#dialog {display: none;}
#dialog label, #dialog input, #dialog select {display: block;font-size: 12px;}
#status, .error{color: #CC0000;}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 11px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #E1EEF4;font-size: 12px;border-bottom: 1px solid #E1EEF4;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }
.b-factors > div{
	font-size: 11px;
	border: #ccc solid 1px;
	min-width: 200px;
	float: left;
	margin-right: 1px;
}
.b-factors div p{
	margin: 2px;
}
.b-factors div div p span{
	font-family: monospace;
	color: rgb(216, 140, 0);
}
.b-factors > div > div{
	border-top: #ccc dashed 1px;
}
#loading{
	margin-top: 100px;
	width: 100%;
	text-align: center;
	display: none;
}